# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

.vs/
Flappy Bird 2.0/.vs/
Debug/FlappyBird.exe
Debug/FlappyBird.pdb
Release/FlappyBird.exe
Release/FlappyBird.pdb
